<h1 class="text-center py-4">Lista de Libros</h1>
<div class="container mt-4 vj-destacados">
    <button type="button" class="btn btn-primary" routerLink="/crearLibro">Crear Libro</button>
    <div class="row">
        <div *ngFor="let book of filterBooks" class="col-md-3 mb-4">
            <div class="card h-100">
                <img [src]="book.imageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{book.name}}</h5>
                    <p>
                        <a (click)="searchBooksByEditorial(book)" class="badge text-bg-info editorial" [text]="book.editorialId.name"></a>
                    </p>
                    <p class="card-text">{{book.description}}</p>
                </div>
                <div>
                    <div class="card-footer text-muted d-flex">
                        <a [routerLink]="['/modificarLibro/', book.id]" class="btn btn-primary me-2">Modificar Libro</a>
                        <a (click)="deleteBookById(book.id)" class="btn btn-primary">Eliminar Libro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button *ngFor="let boton of botonesPag" (click)="changePage(+boton)" class="me-3">{{boton}}</button>
    </div>
</div>